body {
  font-family: Arial, sans-serif;
  background: #f6f3ee;
  margin: 0;
  color: #3b3b3b;
}

header {
  background: #6b8e23;
  color: white;
  text-align: center;
  padding: 20px;
}

h2 {
  margin-top: 30px;
}

main {
  padding: 15px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

button {
  padding: 15px;
  font-size: 16px;
  border-radius: 12px;
  border: none;
  background: #e2d8c3;
  cursor: pointer;
}

button:hover {
  background: #d4c6a3;
}

#listaProdutos div {
  background: white;
  border-radius: 12px;
  padding: 10px;
  margin-bottom: 10px;
}

.finalizar {
  width: 100%;
  background: #6b8e23;
  color: white;
  font-size: 18px;
  margin-top: 15px;
}

footer {
  text-align: center;
  padding: 15px;
  background: #eee;
  margin-top: 30px;
}